<head>
  <title>pkg-docs</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/sindresorhus/github-markdown-css/github-markdown.css">

  <script src="/index.js" defer></script>
</head>
